

// .feed_container {
//   display: flex;
//   flex-direction: column;
// }
*{
  color: #29d329;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
}

h1{
  margin: 0;
}

.feed_coin_container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.feed_coin_card {
  border: 1px solid #29d329;
  width: 25%;
  margin: 10px 0px;
}

.feed_nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: purple;
  color: green;
}